* {
    margin: 0;
    padding: 0;
}

#navigation .bg-image {
    background: url(../img/blogging.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#navigation .bw-gradient {
    width: 100%;
    height: 100vh;
    position: absolute;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+76&0+0,0.65+0,0.65+0 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 76%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 76%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 76%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */





}


#navigation .bw-gradient .container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    color: #fff;
}

#navigation .bw-gradient .container h1 {
    font-size: 80px;
    font-weight: 900;
}

#navigation .bw-gradient .container p {
    font-size: 30px;
    font-weight: 500px;
    margin-top: 10px;
}

#navigation .header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 100;
    border: green solid transparent;
}

#navigation .sub-header {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    transition: 0.5s ease;
    border: red solid transparent;
    font-size: 20px;


}

#navigation .sub-header.active {
    width: 100%;
    height: 50px;
    background: #000;
}

#navigation .sub-header .left-menu {
    float: left;
}


#navigation .sub-header.active .left-menu {
    margin: 0 0px;
}

#navigation .sub-header .logo a {
    position: absolute;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s ease;
    text-decoration: none;
    color: #fff;
    top: 15px;
}

#navigation .sub-header.active .logo a {
    font-size: 25px;
    top: 8px;
    color: #fff;
}

#navigation .sub-header .right-menu {
    float: right;
}

#navigation .sub-header.active .right-menu {
    margin: 0 0px;
}

#navigation .sub-header ul li {
    float: left;
    list-style: none;
    min-width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 20px 2px;
    padding: 0 7px;
    border: blue solid transparent;
}

#navigation .sub-header.active ul li {
    margin: 5px 2px;
}

#navigation .sub-header ul li a {
    display: block;
    text-align: center;
    border-radius: 10px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border: green solid transparent;
}

#navigation .sub-header.active ul li a {
    color: #fff;

}

#navigation .sub-header ul li:hover a {
    background: #fff;
    color: #000000;
    border-radius: 2px;
}

#navigation .sub-header.active ul li:hover a {
    color: #000;
    background: #fff;

}

@media screen and (max-width:1200px) {
    #navigation .sub-header {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    #navigation .sub-header {
        background: #000;
        height: 50px;
    }

    #navigation .bw-gradient .container {
        padding-top: 100px;
    }

    #navigation .sub-header .logo a {
        top: 5px;
    }

    #navigation .sub-header ul {
        position: relative;
        top: 50px;
        overflow: hidden;
        width: auto;
        margin: 0;
        border: blue solid transparent;
    }

    #navigation .sub-header .left-menu {
        float: none;
    }

    #navigation .sub-header .right-menu {
        float: none;
    }

    #navigation .sub-header ul li {
        width: 100%;
        height: 30px;
        margin: 10px 0;
    }

    #navigation .sub-header ul li a {
        color: #fff;
    }

    #navigation .sub-header.active ul {
        height: 0;
        overflow: hidden;
    }
}

@media screen and(max-width:480px) {
    #navigation .sub-header .logo a {
        top: 5px;
    }

    #navigation .sub-header ul {
        width: 100%;
        margin: 0;
    }

    #navigation .sub-header ul li {
        width: 100%;
        height: 30px;
        margin: 3px 0px;
    }

    #navigation .sub-header ul li a {
        color: #fff;
    }

    #navigation .sub-header.active ul {
        height: 0;
        overflow: hidden;
    }
}

/*blog*/
#blog {
    padding-top: 50px;
    padding-bottom: 50px;
}

#blog .container .blog-content {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: sans-serif;
}

#blog .container .blog-content a {
    text-decoration: none;
}

#blog .container .blog-content .blog-header {
    font-size: 35px;
    color: #000;
    font-weight: 500;
}

#blog .container .blog-content .blog-subheader {
    font-size: 22px;
    color: #000;
    font-weight: 500;
}

#blog .container .blog-footer {
    font-size: 18px;
    font-family: sans-serif;
}

#blog .container .blog-footer em {
    color: grey;
}

#blog .container .submit-btn .btn {
    padding: 15px;
    font-size: 25px;
    border: none;
    outline: none;
}

#blog .container .blog-content .main-header {
    color: black;
    font-size: 30px;
    padding-top: 50px;
}

#blog .container .blog-content .blog-main {
    font-size: 20px;
}

/* form-design */
.container-mine {
    width: 50%;
    margin: auto;
}

/* contact */
#contact {
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact .container .contact-heading {
    color: #000;
    font-size: 40px;
}

#contact .container .contact-subheading {
    color: #000;
    font-size: 20px;
}

#contact .container .form-group input[type=text],
#contact .container .form-group input[type=email],
#contact .container .form-group input[type=tel] {
    padding: 30px;
    outline: none !important;
}

#contact .container .form-group textarea {
    height: 250px;
}

::placeholder {
    font-size: 16px;
    font-style: italic;
    /* font-weight: bold; */
}

#contact .container .form-group {
    padding-top: 10px;
    padding-bottom: 5px;
}

#contact .container .btn {
    padding: 15px;
    margin: 20px;
    color: #fff;
    font-size: 20px;
    background: #000;
    outline: none !important;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer .container span {
    color: #000;
    font-size: 30px;
}



/* styling category list */
#catg .container-mine #data-categories ul {
    list-style: none;
    margin: 0;
    border: solid rgba(0, 0, 0, 0.3) 2px;
    border-radius: 5px;
}


#catg .container-mine #data-categories #catgul li {
    list-style-type: square;
    list-style-position: outside;
    border-bottom: solid rgba(0, 0, 0, 0.3) 2px;
    padding: 20px 15px;
    font-size: 20px;
    font-weight: 500;
}

/* styling the author list */
#auth .container-mine #data-authors ul {
    list-style: none;
    margin: 0;
    border: solid rgba(0, 0, 0, 0.3) 2px;
    border-radius: 5px;
}

#auth .container-mine #data-authors #authorul li {
    list-style-type: decimal;
    list-style-position: outside;
    border-bottom: solid rgba(0, 0, 0, 0.3) 2px;
    padding: 20px 15px;
    font-size: 20px;
    font-weight: 500
}

#blogger .container-mine #form-blog-list label {
    font-weight: 500;
    font-size: 20px
}